<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Tabs - Default functionality</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

  $( function() {
    var dialog, form,
 
      // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
      emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
      name = $( "#name" ),
      email = $( "#email" ),
      password = $( "#password" ),
      allFields = $( [] ).add( name ).add( email ).add( password ),
      tips = $( ".validateTips" );
 
    function updateTips( t ) {
      tips
        .text( t )
        .addClass( "ui-state-highlight" );
      setTimeout(function() {
        tips.removeClass( "ui-state-highlight", 1500 );
      }, 500 );
    }
 
    function checkLength( o, n, min, max ) {
      if ( o.val().length > max || o.val().length < min ) {
        o.addClass( "ui-state-error" );
        updateTips( "Length of " + n + " must be between " +
          min + " and " + max + "." );
        return false;
      } else {
        return true;
      }
    }
 
    function checkRegexp( o, regexp, n ) {
      if ( !( regexp.test( o.val() ) ) ) {
        o.addClass( "ui-state-error" );
        updateTips( n );
        return false;
      } else {
        return true;
      }
    }
 
    function addUser() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );
 
      valid = valid && checkLength( name, "username", 3, 16 );
      valid = valid && checkLength( email, "email", 6, 80 );
      valid = valid && checkLength( password, "password", 5, 16 );
 
      valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
      valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
      valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
 
      if ( valid ) {
        $( "#users tbody" ).append( "<tr>" +
          "<td>" + name.val() + "</td>" +
          "<td>" + email.val() + "</td>" +
          "<td>" + password.val() + "</td>" +
        "</tr>" );
        dialog.dialog( "close" );
      }
      return valid;
    }
 
    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 400,
      width: 350,
      modal: true,
      buttons: {
        "Create an account": addUser,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );
      }
    });
 
    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      addUser();
    });
 
    $( "#createRecipe" ).button().on( "click", function() {
      dialog.dialog( "open" );
    });
  } );
  $( function() {
    $( "#tabs" ).tabs();
    $( "#selectable" ).selectable();
    document.getElementById("recipe1").onclick = function () {
        location.href = "recipe1";
    };
    document.getElementById("recipe2").onclick = function () {
        location.href = "recipe2";
    };
    document.getElementById("recipe3").onclick = function () {
        location.href = "recipe3";
    };
    document.getElementById("profile").onclick = function () {
        location.href = "profile";
    };
    document.getElementById("user1").onclick = function () {
        location.href = "user1";
    };
    document.getElementById("user2").onclick = function () {
        location.href = "user2";
    };
    document.getElementById("user3").onclick = function () {
        location.href = "user4";
    };
    document.getElementById("log3").onclick = function () {
        location.href = "resolveComment";
    };
    document.getElementById("log4").onclick = function () {
        location.href = "resolveRecipe";
    };
  } );
  </script>
</head>
<body>

<div id="dialog-form" title="Create new Recipe">
 
  <form>
    <fieldset>
      <label for="name">Name of Recipe</label>
      <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">
 
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

<div class="container">

 <div class ="header">


 <button id="profile" class="btn btn-default btn-md user" style="vertical-align: middle; border-radius: 100%">
  <span class="glyphicon glyphicon-user" aria-hidden="true" style="position:relative; border-radius: 50%; vertical-align: middle"></span>
</button>
 
 <button id="createRecipe">Create Recipe</button>
 </div>
<div id="wrapper">
  <div id="left">
  <h3>Subscriptions</h3>
  <p class="panel user btn btn-default btn-md" id ="user1" style="vertical-align: middle">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  BobbyFlay
  </p>
  <p class="user btn btn-default btn-md" id ="user2">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  AltonBrown
  </p>
  <p class="user btn btn-default btn-md" id ="user3">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  InaGarten
  </p>
</button>
  </div>
  <div id = "right">
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Radar</a></li>
    	<li><a href="#tabs-2">Following</a></li>
        <li><a href="#tabs-3">Favorites</a></li>
        <li><a href="#tabs-4">Popular</a></li>
    	<li><a href="#tabs-5">Search</a></li>
      </ul>
      <div id="tabs-1">
        <p class=" panel recipe" id="recipe1">

        <span class="glyphicon glyphicon-cutlery btn-md"></span>
        Fettuccine Alfredo
        </p>
        <p class="panel recipe" id="recipe2">
        <span class="glyphicon glyphicon-cutlery btn-md"></span>
        Chicken Parmesan
        </p>
        <p class="panel recipe" id="recipe3">
        <span class="glyphicon glyphicon-cutlery btn-md"></span>
        Chocolate Chip Cookies
        </p>
      </div>
      <div id="tabs-2">
        <p>These are recipes from people you follow</p>
      </div>
      <div id="tabs-3">
        <p>Favorite recipes are here</p>
      </div>
      <div id="tabs-4">
        <p>Popular recipes are here</p>
      </div>
      <div id="tabs-5">
        <p>Search results are here</p>
      </div>
    </div>
    <a data-toggle="modal" href="createRecipe">Open Modal</a>

    <div ui-view="createRecipe" autoscroll="false"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a small modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
 
</body>
</html>