<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Tabs - Default functionality</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>
</head>
<body>
<div class="container">
 <div class ="header">

 <button type="button" class="btn btn-default btn-md">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
</button>
 
 <button id="button" class="ui-button ui-corner-all ui-widget">Create Recipe</button>
 </div>
<div id="wrapper">
  <div id="left">
  <h3>Subscriptions</h3>
  <panel class="glyphicon glyphicon-user" aria-hidden="true"></panel>
  </div>
  <div id = "right">
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Radar</a></li>
    	<li><a href="#tabs-2">Following</a></li>
        <li><a href="#tabs-3">Favorites</a></li>
        <li><a href="#tabs-4">Popular</a></li>
    	<li><a href="#tabs-5">Search</a></li>
      </ul>
      <div id="tabs-1">
        <p class="panel">
        <span class="glyphicon glyphicon-cutlery btn-md"></span>
        Fettuccine Alfredo
        </p>
      </div>
      <div id="tabs-2">
        <p>These are recipes from people you follow</p>
      </div>
      <div id="tabs-3">
        <p>Favorite recipes are here</p>
      </div>
      <div id="tabs-4">
        <p>Popular recipes are here</p>
      </div>
      <div id="tabs-5">
        <p>Search results are here</p>
      </div>
    </div>
  </div>
</div>
</div>

 
 
</body>
</html>