<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Tabs - Default functionality</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#tabs" ).tabs();
    $( "#selectable" ).selectable();
    document.getElementById("createRecipe").onclick = function () {
        location.href = "createRecipe";
    };
    document.getElementById("recipe1").onclick = function () {
        location.href = "recipe1";
    };
    document.getElementById("recipe2").onclick = function () {
        location.href = "recipe2";
    };
    document.getElementById("recipe3").onclick = function () {
        location.href = "recipe3";
    };
    document.getElementById("profile").onclick = function () {
        location.href = "profile";
    };
    document.getElementById("user1").onclick = function () {
        location.href = "user1";
    };
    document.getElementById("user2").onclick = function () {
        location.href = "user2";
    };
    document.getElementById("user3").onclick = function () {
        location.href = "user4";
    };
    document.getElementById("log3").onclick = function () {
        location.href = "resolveComment";
    };
    document.getElementById("log4").onclick = function () {
        location.href = "resolveRecipe";
    };
  } );
  </script>
</head>
<body>
<div class="container">
 <div class ="header">

 <button id="profile" class="btn btn-default btn-md" style="vertical-align: middle; border-radius: 100%">
  <span class="glyphicon glyphicon-user" aria-hidden="true" style="position:relative; border-radius: 50%; vertical-align: middle"></span>
</button>
 
 <button id="createRecipe" class="ui-button ui-corner-all ui-widget">Create Recipe</button>
 </div>
<div id="wrapper">
  <div id="left">
  <h3>Subscriptions</h3>
  <button type="button" class="btn btn-default btn-md">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
</button>
  </div>
  <div id = "right">
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Radar</a></li>
    	<li><a href="#tabs-2">Following</a></li>
        <li><a href="#tabs-3">Favorites</a></li>
        <li><a href="#tabs-4">Popular</a></li>
    	<li><a href="#tabs-5">Search</a></li>
      </ul>
      <div id="tabs-1">
        <p class=" panel recipe" id="recipe1">

        <span class="glyphicon glyphicon-cutlery btn-md"></span>
        Fettuccine Alfredo
        </p>
        <p class="panel recipe" id="recipe2">
        <span class="glyphicon glyphicon-cutlery btn-md"></span>
        Chicken Parmesan
        </p>
        <p class="panel recipe" id="recipe3">
        <span class="glyphicon glyphicon-cutlery btn-md"></span>
        Chocolate Chip Cookies
        </p>
      </div>
      <div id="tabs-2">
        <p>These are recipes from people you follow</p>
      </div>
      <div id="tabs-3">
        <p>Favorite recipes are here</p>
      </div>
      <div id="tabs-4">
        <p>Popular recipes are here</p>
      </div>
      <div id="tabs-5">
        <p>Search results are here</p>
      </div>
    </div>
  </div>
</div>
</div>

 
 
</body>
</html>