<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Tabs - Default functionality</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  
  <script>

  $( function() {
    var dialog, form,
 
      // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
      emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
      name = $( "#name" ),
      email = $( "#email" ),
      password = $( "#password" ),
      allFields = $( [] ).add( name ).add( email ).add( password ),
      tips = $( ".validateTips" );
 
    function updateTips( t ) {
      tips
        .text( t )
        .addClass( "ui-state-highlight" );
      setTimeout(function() {
        tips.removeClass( "ui-state-highlight", 1500 );
      }, 500 );
    }
 
    function checkLength( o, n, min, max ) {
      if ( o.val().length > max || o.val().length < min ) {
        o.addClass( "ui-state-error" );
        updateTips( "Length of " + n + " must be between " +
          min + " and " + max + "." );
        return false;
      } else {
        return true;
      }
    }
 
    function checkRegexp( o, regexp, n ) {
      if ( !( regexp.test( o.val() ) ) ) {
        o.addClass( "ui-state-error" );
        updateTips( n );
        return false;
      } else {
        return true;
      }
    }
 
    function addUser() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );
 
      valid = valid && checkLength( name, "username", 3, 16 );
      valid = valid && checkLength( email, "email", 6, 80 );
      valid = valid && checkLength( password, "password", 5, 16 );
 
      valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
      valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
      valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
 
      if ( valid ) {
        $( "#users tbody" ).append( "<tr>" +
          "<td>" + name.val() + "</td>" +
          "<td>" + email.val() + "</td>" +
          "<td>" + password.val() + "</td>" +
        "</tr>" );
        dialog.dialog( "close" );
      }
      return valid;
    }
 
    
 
    $( "#createRecipe" ).button().on( "click", function() {
      dialog.dialog( "open" );
    });
  } );
  $( function() {
    $( "#tabs" ).tabs();
    $( "#selectable" ).selectable();

    $('#createRecipeContent').load('createRecipe');
    $('#preferencesContent').load('preferences');

    var modalCreateRecipe = document.getElementById('createRecipeModal');
    var modalPreferences = document.getElementById('preferencesModal');

    document.getElementById("createRecipe").onclick = function () {
      modalCreateRecipe.style.display = "block";
    };

    document.getElementById("preferences").onclick = function () {
      modalPreferences.style.display = "block";
    };

    document.getElementById("recipe1").onclick = function () {
        location.href = "Recipe";
    };
    document.getElementById("recipe2").onclick = function () {
        location.href = "Recipe";
    };
    document.getElementById("recipe3").onclick = function () {
        location.href = "Recipe";
    };
    document.getElementById("profile").onclick = function () {
        location.href = "profile";
    };
    document.getElementById("user1").onclick = function () {
        location.href = "profile";
    };
    document.getElementById("user2").onclick = function () {
        location.href = "profile";
    };
    document.getElementById("user3").onclick = function () {
        location.href = "profile";
    };
    document.getElementById("user4").onclick = function () {
        location.href = "profile";
    };
  } );
  </script>
</head>
<body>

  <div id="createRecipeModal" class="modal">

    <!-- Modal content -->
    <div id="createRecipeContent" class="modal-content"></div>

  </div>


<div id="preferencesModal" class="modal">

    <!-- Modal content -->
    <div id="preferencesContent" class="modal-content"></div>

  </div>
<!-- Beginning of content -->
<div class="container">
  <div class ="header" style="position: relative;">
      <img id="profile" class="img-circle" src="/images/longcat.jpg" style="position:absolute; left:1%; top:5%; border-radius: 50%" width="100" height="100" >
    

    <button id="createRecipe" style="position: absolute; left: 21.5%; top: 40%">Create Recipe</button>
    <button id="moderator" onclick="window.location.href='/ModeratorDashboard'" class="ui-button ui-widget ui-corner-all" style="position: absolute; left: 35%; top: 40%">Moderator Dashboard</button>
  </div>
<!-- end of header --> 
<div id="wrapper">
  <div id="left">
    <h3>Subscriptions</h3>
    <div class=" panel user" id="user1" style="padding-top: 5px; position: relative">
        <img src="/images/flay.jpg" style="position:absolute; float: left; border-radius: 50px" width="60" height="60">
        <p class="description" style="position: absolute; left: 40%; top: 38%">BobbyFlay</p>
    </div>
    <div class=" panel user" id="user1" style="padding-top: 5px; position: relative" onclick="window.location.href='/profile'">
        <img src="/images/saltguy.jpg" style="position:absolute; float: left; border-radius: 50px" width="60" height="60">
        <p class="description" style="position: absolute; left: 40%; top: 38%">SaltGuy</p>
    </div>
    <div class=" panel user" id="user1" style="padding-top: 5px; position: relative" onclick="window.location.href='/profile'">
        <img src="/images/alton.jpg" style="position:absolute; float: left; border-radius: 50px" width="60" height="60">
        <p class="description" style="position: absolute; left: 40%; top: 38%">AltonBrown</p>
    </div>
    <div class=" panel user" id="user1" style="padding-top: 5px; position: relative" onclick="window.location.href='/profile'">
        <img src="/images/kermit.jpg" style="position:absolute; float: left; border-radius: 50px" width="60" height="60">
        <p class="description" style="position: absolute; left: 40%; top: 38%">Kermit</p>
    </div>
  </div> <!-- End of subscriptions panel -->

  <div id = "right">
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Radar</a></li>
    	<li><a href="#tabs-2">Following</a></li>
        <li><a href="#tabs-3">Favorites</a></li>
        <li><a href="#tabs-4">Popular</a></li>
    	<li><a href="#tabs-5">Search</a></li>
      </ul>
      <div id="tabs-1">
        <div class ="filters"> 
          <button id="preferences" class="ui-button ui-corner-all" style="float: right;">Set Preferences</button>
        </div>
        <div class=" panel recipe" id="recipe1" style="padding-top: 5px; position: relative">
          <img src="/images/alfredo.jpeg" style="position:absolute; float: left; border-radius: 50px" width="60" height="60">
          <p class="description" style="position: absolute; left: 20%; top: 35%">Fettuccine Alfredo <br> AnneBurrell</p>
        </div>
        <p class="panel recipe" id="recipe2">
        <span class="glyphicon glyphicon-cutlery btn-md"></span>
        Chicken Parmesan
        </p>
        <p class="panel recipe" id="recipe3">
        <span class="glyphicon glyphicon-cutlery btn-md"></span>
        Chocolate Chip Cookies
        </p>
      </div>
      <div id="tabs-2">
        <div class=" panel recipe" id="recipe1" style="padding-top: 5px; position: relative" onclick="window.location.href='/Recipe'">
          <img src="/images/alfredo.jpeg" style="position:absolute; float: left" width="50" height="50">
          <p class="description" style="position: absolute; left: 20%; top: 4.5%">Fettuccine Alfredo<br> AnneBurrell</p>
        </div>
        <div class=" panel recipe" id="recipe2" style="padding-top: 5px; position: relative" onclick="window.location.href='/Recipe'">
          <img src="/images/alfredo.jpeg" style="position:absolute; float: left" width="50" height="50">
          <p class="description" style="position: absolute; left: 20%; top: 4.5%">Fettuccine Alfredo <br>AnneBurrell</p>
        </div>
      </div>
      <div id="tabs-3">
        <div class=" panel recipe" id="recipe1" style="padding-top: 5px; position: relative" onclick="window.location.href='/Recipe'">
        <img src="/images/alfredo.jpeg" style="position:absolute; float: left" width="50" height="50">
        <p class="description" style="position: absolute; left: 20%; top: 4.5%">Fettuccine Alfredo <br> Anne Burrell</p>
        </div>
      </div>
      <div id="tabs-4">
        <div class=" panel recipe" id="recipe3" style="padding-top: 5px; position: relative" onclick="window.location.href='/Recipe'">
          <img src="/images/cookie.jpg" style="position:absolute; float: left" width="50" height="50">
          <p class="description" style="position: absolute; left: 20%; top: 4.5%">Chocolate Chip Cookies<br>BobbyFlay</p>
        </div>
      </div>
      <div id="tabs-5">
        
        <div class = "filters"><h4>Your search for "Peanut Butter Pie": </h4>
        <button id="search" onclick="window.location.href='/search'" class="ui-button ui-corner-all" style="float: right;">New Search</button>
        </div>
        <div class=" panel recipe" id="recipe6" style="padding-top: 5px; position: relative" onclick="window.location.href='/Recipe'">
          <img src="/images/pbpie1.jpg" style="position:absolute; float: left" width="60" height="60">
          <p class="description" style="position: absolute; left: 20%; top: 4.5%">No-Bake Peanut Butter Pie <br>InaGarten</p>
        </div>
        <div class=" panel recipe" id="recipe5" style="padding-top: 5px; position: relative" onclick="window.location.href='/Recipe'">
          <img src="/images/pbpie2.jpg" style="position:absolute; float: left" width="60" height="60">
          <p class="description" style="position: absolute; left: 20%; top: 4.5%">Grandma's Peanut Butter Pie<br>SomeDude</p>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
 
</body>
</html>