<!doctype html>
<html>
<center>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Tabs - Default functionality</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  

  <div class ="header" style="position: relative;">
      <h2>Student Chef</h2>
  </div>

  <br><br>

  <div style="position:relative;">
  
    


      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" required>

      <br>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" required>

      <br>

      <button id="login" class="ui-button ui-widget ui-corner-all">Login</button>
      
    
  </div>
</head>
</center>

<script>

    document.getElementById("login").onclick = function () {
        location.href = "feed";
    };

  </script>

</html>
