<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script>
  $( function() {
    $( "#tabs" ).tabs();
    $( "#selectable" ).selectable();

    $('#resolveRecipeContent').load('resolveRecipe');
    $('#resolveCommentContent').load('resolveComment');

    var modalRec = document.getElementById('resolveRecipeModal');
    var modalCom = document.getElementById('resolveCommentModal');
    
  
  $('.modal').on('shown.bs.modal', function() {
        $(this).find('iframe').attr('src','http://www.google.com')
    })  
    document.getElementById("returnHome").onclick = function () {
        location.href = "feed";
    };
    document.getElementById("resRec1").onclick = function () {
        modalRec.style.display = "block";
        
    };
    document.getElementById("resRec2").onclick = function () {
        modalRec.style.display = "block";
    };
    document.getElementById("resRec3").onclick = function () {
        modalRec.style.display = "block";
    };
    document.getElementById("resRec4").onclick = function () {
        modalRec.style.display = "block";
    };
    document.getElementById("resComment1").onclick = function () {
        modalCom.style.display = "block";
    };
    document.getElementById("resComment2").onclick = function () {
        modalCom.style.display = "block";
    };
    document.getElementById("log1").onclick = function () {
        modalCom.style.display = "block";
    };
    document.getElementById("log2").onclick = function () {
        modalRec.style.display = "block";
    };
    document.getElementById("log3").onclick = function () {
        modalCom.style.display = "block";
    };
    document.getElementById("log4").onclick = function () {
        modalRec.style.display = "block";
    };
    document.getElementById("log5").onclick = function () {
        modalRec.style.display = "block";
    };
  } );
  </script>
<style>
  #feedback { font-size: 1.4em; }
 .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
  
</style>

</head>


<body>
<div class="container">

  <div class ="header" style="background-color:#E9E9E9; position:relative">
      <img class="img-circle" src="/images/longcat.jpg" style="position:absolute; left:1%; top:10%; border-radius: 50%" width="100" height="100">
      <button id="returnHome" class="ui-button ui-widget ui-corner-all" style="position:absolute; left:15%; top:30%;">Homepage</button>
      <input style="position:absolute; right:6%; top:30%; height:50px; font-size:14pt;" size="50">
      <button class="ui-button ui-widget ui-corner-all" style="position:absolute; right:1%; top:30%; height:55px; width:75px" >
        <img src="/images/mag.png" /></button>
  </div>

  <div id="resolveCommentModal" class="modal" style=" max-height: 100%; overflow-y: auto;">

    <div id="resolveCommentContent" class="modal-content"></div>

  </div>

  <div id="resolveRecipeModal" class="modal" style=" max-height: 100%; overflow-y: auto;">

    <!-- Modal content -->
    <div id="resolveRecipeContent" class="modal-content"></div>

  </div>

  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Recipes</a></li>
  	  <li><a href="#tabs-2">Comments</a></li>
      <li style="float: right"><a href="#tabs-3">History</a></li>
    </ul>

    <div id="tabs-1">

      <div id="resRec1" style="position:relative; border-style:solid; border-width:2px; border-color:gray; height:120px;" onmouseover="this.style.background='#E9E9E9';" onmouseout="this.style.background='white';">

        <img src="/images/catfood.jpg" style="position:absolute; left:1%; top:5%;" width="100" height="100">

        <label style="position:absolute; left:15%; top:25%">Why everything I don't like is horrible</label>
        <label style="position:absolute; left:15%; bottom:25%">KeyboardWarrior99</label>

        <label style="position:absolute; right:5%; top:25%">Reported:</label>
        <label style="position:absolute; right:5%; bottom:25%">3-20-17</label>
          
      </div>

      <br>

      <div id="resRec2" style="position:relative; border-style:solid; border-width:2px; border-color:gray; height:120px;" onmouseover="this.style.background='#E9E9E9';" onmouseout="this.style.background='white';">

         <img src="/images/catfood.jpg" style="position:absolute; left:1%; top:5%;" width="100" height="100">

        <label style="position:absolute; left:15%; top:25%">Why everything I don't like is horrible</label>
        <label style="position:absolute; left:15%; bottom:25%">KeyboardWarrior99</label>

        <label style="position:absolute; right:5%; top:25%">Reported:</label>
        <label style="position:absolute; right:5%; bottom:25%">3-20-17</label>
          
      </div>

      <br>
      <div id="resRec3" style="position:relative; border-style:solid; border-width:2px; border-color:gray; height:120px;" onmouseover="this.style.background='#E9E9E9';" onmouseout="this.style.background='white';">

        <img src="/images/catfood.jpg" style="position:absolute; left:1%; top:5%;" width="100" height="100">

        <label style="position:absolute; left:15%; top:25%">Why everything I don't like is horrible</label>
        <label style="position:absolute; left:15%; bottom:25%">KeyboardWarrior99</label>

        <label style="position:absolute; right:5%; top:25%">Reported:</label>
        <label style="position:absolute; right:5%; bottom:25%">3-20-17</label>
          
      </div>

      <br>

      <div id="resRec4" style="position:relative; border-style:solid; border-width:2px; border-color:gray; height:120px;" onmouseover="this.style.background='#E9E9E9';" onmouseout="this.style.background='white';">

        <img src="/images/catfood.jpg" style="position:absolute; left:1%; top:5%;" width="100" height="100">

        <label style="position:absolute; left:15%; top:25%">Why everything I don't like is horrible</label>
        <label style="position:absolute; left:15%; bottom:25%">KeyboardWarrior99</label>

        <label style="position:absolute; right:5%; top:25%">Reported:</label>
        <label style="position:absolute; right:5%; bottom:25%">3-20-17</label>
          
      </div>

    </div>

    <div id="tabs-2">

      <div id = "resComment1" style="position:relative; border-style:solid; border-width:2px; border-color:gray; height:120px;" onmouseover="this.style.background='#E9E9E9';" onmouseout="this.style.background='white';">

        <img class="img-circle" src="/images/longcat.jpg" style="position:absolute; left:1%; top:5%; border-radius: 50%" width="100" height="100">

        <label style="position:absolute; left:15%; bottom:50%">KeyboardWarrior99</label>
        <label style="position:absolute; left:40%; bottom:50%">"offensive stuff"</label>

        <label style="position:absolute; right:10%; top:25%">Reported:</label>
        <label style="position:absolute; right:10%; bottom:25%">3-21-17</label>
          
      </div>

      <br>

       <div id = "resComment2" style="position:relative; border-style:solid; border-width:2px; border-color:gray; height:120px;" onmouseover="this.style.background='#E9E9E9';" onmouseout="this.style.background='white';">

        <img class="img-circle" src="/images/longcat.jpg" style="position:absolute; left:1%; top:5%; border-radius: 50%" width="100" height="100">

        <label style="position:absolute; left:15%; bottom:50%">KeyboardWarrior99</label>
        <label style="position:absolute; left:40%; bottom:50%">"offensive stuff"</label>

        <label style="position:absolute; right:10%; top:25%">Reported:</label>
        <label style="position:absolute; right:10%; bottom:25%">3-21-17</label>
          
      </div>

      <br>

    </div>

    <div id="tabs-3">

       <div id="log1" style="position:relative; border-style:solid; border-width:2px; border-color:gray; height:120px;" onmouseover="this.style.background='#E9E9E9';" onmouseout="this.style.background='white';">

        <img class="img-circle" src="/images/longcat.jpg" style="position:absolute; left:1%; top:5%; border-radius: 50%" width="100" height="100">

        <label style="position:absolute; left:15%; bottom:50%">KeyboardWarrior99</label>
        <label style="position:absolute; left:40%; bottom:50%">"offensive stuff"</label>

        <label style="position:absolute; right:10%; top:25%">Resolved:</label>
        <label style="position:absolute; right:10%; bottom:25%">3-21-17</label>

        <label style="position:absolute; right:20%; top:25%">Reported:</label>
        <label style="position:absolute; right:20%; bottom:25%">3-20-17</label>
          
      </div>

      <br>

      <div id="log2" style="position:relative; border-style:solid; border-width:2px; border-color:gray; height:120px;" onmouseover="this.style.background='#E9E9E9';" onmouseout="this.style.background='white';">

         <img src="/images/catfood.jpg" style="position:absolute; left:1%; top:5%;" width="100" height="100">

        <label style="position:absolute; left:15%; top:25%">Why everything I don't like is horrible</label>
        <label style="position:absolute; left:15%; bottom:25%">KeyboardWarrior99</label>

        <label style="position:absolute; right:10%; top:25%">Resolved:</label>
        <label style="position:absolute; right:10%; bottom:25%">3-21-17</label>

        <label style="position:absolute; right:20%; top:25%">Reported:</label>
        <label style="position:absolute; right:20%; bottom:25%">3-20-17</label>
          
      </div>

      <br>

      <div id="log3" style="position:relative; border-style:solid; border-width:2px; border-color:gray; height:120px;" onmouseover="this.style.background='#E9E9E9';" onmouseout="this.style.background='white';">

        <img class="img-circle" src="/images/longcat.jpg" style="position:absolute; left:1%; top:5%; border-radius: 50%" width="100" height="100">

        <label style="position:absolute; left:15%; bottom:50%">KeyboardWarrior99</label>
        <label style="position:absolute; left:40%; bottom:50%">"offensive stuff"</label>

        <label style="position:absolute; right:10%; top:25%">Resolved:</label>
        <label style="position:absolute; right:10%; bottom:25%">3-21-17</label>

        <label style="position:absolute; right:20%; top:25%">Reported:</label>
        <label style="position:absolute; right:20%; bottom:25%">3-20-17</label>
          
      </div>

      <br>

      <div id="log4" style="position:relative; border-style:solid; border-width:2px; border-color:gray; height:120px;" onmouseover="this.style.background='#E9E9E9';" onmouseout="this.style.background='white';">

        <img src="/images/catfood.jpg" style="position:absolute; left:1%; top:5%;" width="100" height="100">

        <label style="position:absolute; left:15%; top:25%">Why everything I don't like is horrible</label>
        <label style="position:absolute; left:15%; bottom:25%">KeyboardWarrior99</label>

        <label style="position:absolute; right:10%; top:25%">Resolved:</label>
        <label style="position:absolute; right:10%; bottom:25%">3-21-17</label>

        <label style="position:absolute; right:20%; top:25%">Reported:</label>
        <label style="position:absolute; right:20%; bottom:25%">3-20-17</label>
          
      </div>

      <br>

      <div id="log5" style="position:relative; border-style:solid; border-width:2px; border-color:gray; height:120px;" onmouseover="this.style.background='#E9E9E9';" onmouseout="this.style.background='white';">

        <img src="/images/catfood.jpg" style="position:absolute; left:1%; top:5%;" width="100" height="100">

        <label style="position:absolute; left:15%; top:25%">Why everything I don't like is horrible</label>
        <label style="position:absolute; left:15%; bottom:25%">KeyboardWarrior99</label>

        <label style="position:absolute; right:10%; top:25%">Resolved:</label>
        <label style="position:absolute; right:10%; bottom:25%">3-21-17</label>

        <label style="position:absolute; right:20%; top:25%">Reported:</label>
        <label style="position:absolute; right:20%; bottom:25%">3-20-17</label>
          
      </div>

      <br>

    </div>

  </div>
</div>
  

</body>
</html>