<!doctype html>

<head>
    <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 0px;
        text-align: justified;
        padding: 4px;
    }
    </style>

<script>


    document.getElementById("exit").onclick = function () {
        location.href = "feed";
    };

</script>
</head>

<div class ="header" style="background-color:#C0D3F2; position:relative">
    <h2>Preferences</h2>
      <img id="exit" onclick="window.location.href='/feed'" src="/images/exitNeutral.png" onmouseover="this.src='/images/exitHover.png';" onmouseout="this.src='/images/exitNeutral.png';" style="position:absolute; Right:1%; top:10%;">
      
</div>

<div class="preference-page">
    <div class="preferences">
        <table>
            <tr>
                <td><h3>Cost</h3></td>
                <td><h3>Time</h3></td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> $</td>
                <td><input id="checkBox" type="checkbox"> <15min</td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> $$</td>
                <td><input id="checkBox" type="checkbox"> 15-30 min</td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> $$$</td>
                <td><input id="checkBox" type="checkbox"> >30 min</td>
            </tr>
            <tr>
                <td><h3>Difficulty</h3></td>
                <td><h3>Other</h3></td>
                
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> Easy</td>
                <td><input id="checkBox" type="checkbox"> Vegitarian</td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> Medium</td>
                <td><input id="checkBox" type="checkbox"> Vegan</td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> Hard</td>
            </tr>
            <tr>
                <td><h3>Cuisine</h3></td>
                
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> Italian</td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> Chinese</td>
            </tr>
            <tr>
                <td><br></td>
                <td><button type="button" onclick="window.location.href='/feed'">Submit</button></td>
            </tr>
        </table>
        
    </div>
</div>
