<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

function report(Id) {
    var r = confirm("Are you sure you want to report this recipe?");
    if (r == true) {
        document.getElementById(Id).style = "position:absolute; right:225px; top:50px; height:35px; width:35px; color:red;";
    }
    else{
        document.getElementById(Id).style = "position:absolute; right:225px; top:50px; height:35px; width:35px; color:black;";
    }
}

function reportcomment(Id) {
     var r = confirm("Are you sure you want to report this comment?");
     if (r == true) {
        document.getElementById(Id).style = "position:absolute; right:0px; top:10px; height:35px; width:35px; color:red;";
    }
    else{
        document.getElementById(Id).style = "position:absolute; right:0px; top:10px; height:35px; width:35px; color:black;";
    }
}

function print(Id) {
    var r = confirm("View print preview of recipe?");
    if (r == true) {
        document.getElementById(Id).style = "position:absolute; right:225px; top:50px; height:35px; width:35px; color:red;";
    }
    else{
        document.getElementById(Id).style = "position:absolute; right:225px; top:50px; height:35px; width:35px; color:black;"
    }
}

document.getElementById("favorite").onclick = function () {
	var srcID = document.getElementById("favorite").getAttribute("src");

	if(srcID.localeCompare("/images/black_heart.png") == 0){
		document.getElementById("favorite").src = "/images/red_heart.png";
	} else if(srcID.localeCompare("/images/red_heart.png") == 0){
		document.getElementById("favorite").src = "/images/black_heart.png";
	}

}
</script>

	<div class ="header" style="background-color:#C0D3F2; position:relative">
  <div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="inline-headers">
      
      <a href="/anneBurrell">
        <img src="/images/anne.jpg" style="position:relative; float: left; border-radius: 50px" width="60" height="60"><p style ="position:relative; float: left;"><span style="position:absolute; right:0px; top:55px;">AnneBurrell</a></span>
        <h2>Fettuccine Alfredo</h2>
        
    </div>

  </div>
  
</div>

	  
      
    </div>
	  <i id="report" class="material-icons icon" style="position:absolute; right:225px; top:50px; height:35px; width:35px; color:black;" onclick="report(this.id)">report</i>
      <img class = "icon" id="favorite" src="/images/black_heart.png" style="position:absolute; right:200px; top:50px; height:25px; width:25px;">
      <img class="icon" src="/images/printer.png" style="position:absolute; right:165px; top:50px; height:25px; width:25px;" onclick="print(this)">

      <img  class="icon" id="exit" onclick="window.location.href='/feed'" src="/images/exitNeutral.png" onmouseover="this.src='/images/exitHover.png';" onmouseout="this.src='/images/exitNeutral.png';" style="position:absolute; Right:1%; top:10%;">
      
	</div>
<div id="containers">
	<button type="button" style="width:100px" class="ui-button ui-widget ui-corner-all" data-toggle="collapse" data-target="#Description">Description</button>
    <div id="Description" class="collapse in">
      The best pasta you've ever had. 
    </div>
     <br>

    <button type="button" style="width:100px" class="ui-button ui-widget ui-corner-all" data-toggle="collapse" data-target="#ingredients">Ingredients</button>
    <div id="ingredients" class="collapse in">
      <ul>
        <li>Pasta</li>
        <li>Milk</li>
        <li>Cheese</li>
      </ul>
    </div>
     <br>

    <button type="button" style="width:100px" class="ui-button ui-corner-all" data-toggle="collapse" data-target="#equipment">Equipment</button>
    <div id="equipment" class="collapse in">
      <ul>
        <li>Large pot</li>
        <li>Strainer</li>
      </ul>
    </div>
     <br>

    <button type="button" style="width:100px" class="ui-button ui-widget ui-corner-all" data-toggle="collapse" data-target="#instructions">Instructions</button>
    <div id="instructions" class="collapse in">
      <ol>
        <li>Boil the pasta</li>
        <li>Add milk and cheese</li>
      </ol>
    </div>
     <br>

    <button type="button" style="width:100px" class="ui-button ui-corner-all" data-toggle="collapse" data-target="#comments">Comments</button>
    <div id="comments" class="collapse in">
      <div class="panel user" id="user1" style="padding-top: 5px; position: relative">
        <img src="/images/saltguy.jpg" style="position:absolute; float: left; border-radius: 50px" width="60" height="60">
        <p class="description" style="position: absolute; left: 40%; top: 38%">This recipe tastes worse than my grandmother's ashes. Needs salt. </p>
        <i id="reportcomment" class="material-icons" style="position:absolute; right:0px; top:10px; height:35px; width:35px; color:black;" onclick="reportcomment(this.id)">report</i>
      </div>
   </div>

<img style="position: absolute; top: 160px; left: 75%; width: 200px; height: 150px;" src="/images/alfredo2.jpg">


</div>
</body>
</html>
