<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="jquery.barrating.min.js"></script>

<div class="container">
	<div class="header">
	  <h2>Fettuccine Alfredo</h2>
      <img src="/images/flag.png" height="35" width="35" style="position:absolute; right:230px; top:45px;">
      <img src="/images/black_heart.png" height="25" width="25" style="position:absolute; right:200px; top:50px;">
      <img src="/images/printer.png" height="25" width="25" style="position:absolute; right:165px; top:50px;">
      <button id="exit" onclick="window.location.href='/feed'" class="ui-button ui-widget ui-corner-all" style="position:absolute; Right:100px; top:50px;">Exit</button>
	</div>
	<div class="container">
	  <button type="button" class="ui-button ui-corner-all" data-toggle="collapse" data-target="#Description">Description</button>
	  <div id="Description" class="collapse">
	    The best pasta you've ever had. 
	  </div>
      <br>
	  <button type="button" class="ui-button ui-corner-all" data-toggle="collapse" data-target="#ingredients">Ingredients</button>
	  <div id="ingredients" class="collapse">
	    <ul>
	    	<li>Pasta</li>
	    	<li>Milk</li>
	    	<li>Cheese</li>
	    </ul>
	  </div>
      <br>
	  <button type="button" class="ui-button ui-corner-all" data-toggle="collapse" data-target="#equipment">Equipment</button>
	  <div id="equipment" class="collapse">
	    <ul>
	    	<li>Large pot</li>
	    	<li>Strainer</li>
	    </ul>
	  </div>
      <br>
	  <button type="button" class="ui-button ui-corner-all" data-toggle="collapse" data-target="#instructions">Instructions</button>
	  <div id="instructions" class="collapse">
	    <ol>
	    	<li>Boil the pasta</li>
	    	<li>Add milk and cheese</li>
	    </ol>.
	  </div>
      <br>
	  <button type="button" class="ui-button ui-corner-all" data-toggle="collapse" data-target="comments">Comments</button>
	  <div id="comments" class="collapse">
	    <div class="panel user" id="user1" style="padding-top: 5px; position: relative">
        <img src="/images/saltguy.jpg" style="position:absolute; float: left; border-radius: 50px" width="60" height="60">
        <p class="description" style="position: absolute; left: 40%; top: 38%">This recipe tastes worse than my grandmother's ashes. Needs salt. </p>
    </div>
	    </div>
	  </div>
</div>

</body>
</html>
