<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script>
  $( function() {
    $( "#tabs" ).tabs();
    $( "#selectable" ).selectable();
    document.getElementById("exit").onclick = function () {
        location.href = "moderatorDashboard";
    };
    document.getElementById("ignore").onclick = function () {
        location.href = "moderatorDashboard";
    };
    document.getElementById("remove").onclick = function () {
        location.href = "moderatorDashboard";
    };
    document.getElementById("tagConfirm").onclick = function () {

      var tagVal=document.getElementById("tag").value;
      if (tagVal.length >= 1)
      {
        location.href = "moderatorDashboard";
      }
        
    };
  } );
  </script>
<style>
  
  
</style>

</head>

<body>

  <div class ="header" style="background-color:#C0D3F2; position:relative">
      <img class="img-circle" src="/images/longcat.jpg" style="position:absolute; left:50px; top:50px; border-radius: 50%" width="100" height="100">
      <label style="position:absolute; left:160px; top:90px">Reported User's Username</label>
      <button id="exit" class="ui-button ui-widget ui-corner-all" style="position:absolute; Right:50px; top:50px;">Exit</button>
      
  </div>
  
  <div style="position:relative; border-style:solid; border-width:2px; border-color:gray; height:500px; ">


    <button id="ignore" class="ui-button ui-widget ui-corner-all" style="position:absolute; left:50px; bottom:50px;">Ignore</button>
    <button id="remove" class="ui-button ui-widget ui-corner-all" style="position:absolute; left:150px; bottom:50px;">Remove</button>
    <button id="tagConfirm" class="ui-button ui-widget ui-corner-all" style="position:absolute; Right:50px; bottom:50px;">Tag</button>
    <input id="tag" style="position:absolute; right:130px; bottom:50px; height:30px; font-size:14pt;" size="20">
    
  </div>

</body>
</html>