<style>
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 0px;
    text-align: justified;
    padding: 4px;
}
</style>
<div class="search-page">
    <div class ="header" style="background-color:#FFFFFF; position:relative">
      <label style="position:absolute; left:1%; bottom:35%"><h2>Advanced Search</h2></label>
      <form action="/feed#tabs-5">
        <input type="text" style="position:absolute; right:30%; top:30%; height:50px; font-size:14pt;" size="50">
        <button onclick="window.location.href='/feed#tabs-5'" class="ui-button ui-widget ui-corner-all" style="position:absolute; right:24%; top:30%; height:55px; width:75px">
        <img src="/images/mag.png" /></button>
    </form>
    </div>
    <div class="search">
        <table>
            <tr>
                <td><h3>Type</h3></td>
                <td><h3>Cost</h3></td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> User</td>
                <td><input id="checkBox" type="checkbox"> $</td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> Recipe</td>
                <td><input id="checkBox" type="checkbox"> $$</td>
            </tr>
            <tr>
                <td><br></td>
                <td><input id="checkBox" type="checkbox"> $$$</td>
            </tr>
            <tr>
                <td><h3>Difficulty</h3></td>
                <td><h3>Time</h3></td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> Easy</td>
                <td><input id="checkBox" type="checkbox"> <15min</td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> Medium</td>
                <td><input id="checkBox" type="checkbox"> 15-30 min</td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> Hard</td>
                <td><input id="checkBox" type="checkbox"> >30 min</td>
            </tr>
            <tr>
                <td><h3>Cuisine</h3></td>
                <td><h3>Other</h3></td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> Italian</td>
                <td><input id="checkBox" type="checkbox"> Vegitarian</td>
            </tr>
            <tr>
                <td><input id="checkBox" type="checkbox"> Chinese</td>
                <td><input id="checkBox" type="checkbox"> Vegan</td>
            </tr>
        </table>
        
    </div>
</div>
